
@{
    ViewBag.Title = "Index";
}
<span class="text-info">@TempData["msg"]</span>
<h2>Login</h2>
<form action="" method="post">
    <input type="text" class="form-control" name="Username" placeholder="Username" />
    <input type="password" class="form-control" name="Password" placeholder="Password" />
    <input type="submit" class="btn btn-success" />
</form>
